html, body {
    font-family: proxima_nova_rgbold;
    height: 100%;
}

#root {
    height: 100%;
}

.content-container {
    padding-left: 90px;
    padding-right: 90px;
    /* background-color: #bebbbb; */
}

.dark-container {
    background-color: #0b0b0be8;
    padding: 6px 21px 6px 21px;
    height: calc(100% - 72px);
}

.title-bar {
    color: #b2d237;
    font-family: proxima_nova_rgbold;
    font-weight: 600;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 18px;
}

button {
    border: 1px solid;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color .3s linear;
}

form {
    width: 100%;
}

input[type=text], input[type=number], input[type=date], input[type=password] {
    background: rgba(255, 255, 255, .18);
    border: 1px solid transparent;
    border-radius: 0px;
    color: #b2d237;
    outline: none;
    width: 100% !important;
    height: 39px;
    padding: 0;
}

label {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 5px;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    /* max-width: 500px; */
}

select {
    background: rgba(255, 255, 255, .18);
    border: 1px solid transparent;
    border-radius: 0px;
    color: #b2d237;
    outline: none;
    height: 39px;
    padding: 0;
    width: 100%;
}

label {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px 5px;
}

textarea {
    background: rgba(255, 255, 255, .18);
    border: 1px solid transparent;
    border-radius: 0px;
    color: #b2d237;
    outline: none;
    width: 100% !important;
    height: 39px;
    padding: 0;
    overflow: auto;
}

.button-transparent-white {
    border-color: #b3d146;
    background-color: transparent;
    color: #fff;
}

.button-transparent-white:hover {
    background-color: #b3d146;
}

.button-transparent-dark {
    border-color: #b3d146;
    background-color: transparent;
    color: #000;
}

.button-transparent-dark:hover {
    background-color: #b3d146;
}

.button-green {
    border-color: #ffffff;
    background-color: #b3d146;
    color: #fff;
}

.button-green:hover {
    background: #2f2f35;
}

.input-half {
    width: 50%;
    float: left;
}

.field {
    margin: 0px 0px 20px;
    position: relative;
}

.navbar-nav {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.nav-link:hover {
    color: #b3d146 !important;
}