.modal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #535350f5;
    z-index: 10;
}

.modal-title-bar {
    padding-bottom: 11px;
    border-bottom: 1px solid #b2d23757;
}

.modal-container {
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 650px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .65);
    color: #fff;
    border: solid 2px #b3d146;
    border-radius: 10px;
    padding: 10px;
}

.modal-container-yes-no-size {
    top: 60px;
    height: 175px;
    margin-top: unset;
}

.modal-content {
    padding: 0 21px 0 21px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: auto;
}

.modal-button-container {
    display: flex;
    justify-content: flex-end;
}

.multi-selection {
    width: 100%;
    height: 227px;
    padding: 0;
    margin-right: 8px;
}

.selections {
    display: flex;
    flex-flow: column;
}

.description {
    height: 100px;
    overflow: auto;
}

.input {
    margin-right: 8px;
}